
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: #f5f5f5;
  color: #0f172a;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

#root {
  min-height: 100vh;
}

.custom-scrollbar {
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
